

#characters-comp {
    background-image: url('https://i.pinimg.com/1200x/a1/9b/a9/a19ba9ed3ad1dd1f43b0a1870c3d46ad.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;

    color: black;


    overflow-x: hidden;
}
